@-moz-document domain("crunchyroll.com") {
.body-wrapper {
  background-color: #fef7f3;
  box-shadow: 0 0 4px 4px #fef7f3;
  padding: 16px;
  padding-top: 16px !important;
  margin-top: 40px;
  border-radius: 4px;
}

/* Plain text overrides */
.comment-wrapper,
.erc-comment-group h5, /*username*/
.erc-comment-group span, /*comment time*/
.current-media-wrapper
{
  color: black;
}

/* Other background fixes*/
.erc-comment-group button[data-t="comment-more-btn"] ~ ul
{
  background: white;
}

/* Other background fixes*/
.erc-comment-group button[data-t="comment-more-btn"] ~ ul li:focus,
.erc-comment-group button[data-t="comment-more-btn"] ~ ul li:hover
{
  background: #fef7f3;
}

/* Also need highlight/focus styles for these to match dark mode */
.current-media-wrapper button[data-t="expandable-btn"],
.erc-comment-group button[data-t="toggle-spoiler-btn"],
.erc-comment-group button[data-t="comment-reply-btn"],
.erc-comment-group button[data-t="comment-like-btn"],
.erc-comment-group button[data-t="comment-more-btn"]
{
  color: black;
}

/* Also need highlight/focus styles for these to match dark mode, has different base color to above */
.erc-replies button[data-t="toggle-replies-btn"]
{
  color: black;
}
}
